.headerContainer {
    height: 100vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.headerChild {
    height: 60vh;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.headerText {
    position: absolute;
}

.headerTitle {
    font-size: 28pt;
    color: gray;
}

.headerSubTitle {
    color: green;
}

.monitorImage {
    max-height: 100%;
    margin-left: auto;
    margin-right: 0px;
    display: block;
}