@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/*

Color References:

Black: #222831
Grey: #393E46
White: #EEEEEE

*/

body {
  font-family: 'Cabin', sans-serif;
  background-color: #222831;
  color: #EEEEEE
}
